#result ul {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 20px;
}

#result ul ul {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#result li {
  border-top: 1px solid #ddd;
  line-height: 4em;
  padding-left: 3em;
  border-bottom: 1px solid #ddd;
}

#result li li {
  line-height: 3em;
  margin-left: 2em;
  border-bottom: none;
}

#result li:hover {
  border-left: 0.5em solid #00c853;
  padding-left: 2.5em;
  transition: 0.05s ease-out;
}

#result li li:hover {
  border-left: 0.5em solid #69f0ae;
}

#result li li li:hover {
  border-left: 0.5em solid #b9f6ca;
}

#result li li li li:hover {
  border-left: 0.5em solid #e8f5e9;
}

#result li li a:hover {
  border-bottom: 2px solid #4caf50;
}

#result ul .badge {
  background-color: #00c853;
}

#result ul ul .badge {
  background-color: #69f0ae;
}

#result ul ul ul .badge {
  background-color: #b9f6ca;
}

#result ul i {
  margin: 0.1em 0.6em 0.1em 0.1em;
}

#result ul i:hover {
  margin: 0em 0.5em 0em 0em;
  cursor: pointer;
  border: 0.1em solid #00c853;
  transition: 0.1s ease-out;
  border-radius: 2px;
}

.utils i:hover, #result ul i i:hover {
  margin: 0em 0.5em 0em 0em;
  cursor: pointer;
  border: 0.1em solid #69f0ae;
  transition: 0.1s ease-out;
  border-radius: 2px;
}

#login {
  display: block;
  width: 10em;
}

.progress {
  display: block;
}

#top-bar {
  height: 120px;
}

#top-bar .settings:hover {
  cursor: pointer;
}

#top-bar .nav-wrapper img {
  top: -40px;
}

.configuration {
  display: none;
}

.configuration .row {
  padding: 1em 0;
  margin-bottom: 0;
}

.utils {
  display: none;
  height: 30px; //TODO soomething better
}

.badge {
  display: none;
  margin-top: 1.5em; //TODO still looks terrible... do something with that!
}
